* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*WRAPPER*/
.wrapper {
    width: 100%;
    min-height: 50rem;
    height: 100vh;
    background: #326ceb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper__slider {
    width: 100%;
    max-height: 35rem;
    height: 100%;
    background: #575656;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_display {
    width: 100%;
    max-width: 60rem;
    height: 100%;
    max-height: 30rem;
    margin-right: 2rem;
    margin-left: 2rem;
    overflow: hidden;
    background: rgb(247, 220, 220);
}

.slider_inner {
    width: calc(100% * 4);
    height: 100%;
    transition: all .3s ease;
    display: flex;
}
.slider_inner .image {
    max-width: 60rem;
    width: 100%;
    height: 100%;
}
.one {
    background: red;
}
.two {
    background: green;
}
.three {
    background: blue;
}
.four {
    background: yellow;
}